*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

.clear {
	clear: both;
	content: '';
	display: block;
}

.wrap {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: block;

}




#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}




.banner {
  position: relative;
  max-width: 1200px;
}


.logo {
  float: left;
  width: 20%;
  padding-top: 15px;
}

.logo a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;


}

.option-left {
  float: left;
  width: 50%;
}

.left-side-menu li {
  display: inline-block;
  padding-left: 14px;

}

.left-side-menu li a {
   text-decoration: none;
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}


.option-right {
  float: right;
  width: 30%;
}

.right-side-menu {
  padding-left: 123px;
}

.right-side-menu li {
  display: inline-block;
  padding-left: 15px;
}

.right-side-menu li a {
  text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.content{
  max-width: 1200px;
  margin: auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
}

.caption {
  margin: auto;
}

.title span p{
  font: 33px Arial;
  color: #141414;
  text-align: center;
}

.line {
    width: 1200px;
    border: 0.5px solid;
    color: #b1adad;
    margin: auto;
}


.product {
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
}

.all {
  position: relative;
  clear: both;
}

.imagee {
  float: left;
  width: 50%;
}

.imagee img {
  width: 100%;
}


.info {
  float: right;
  width: 50%;
}

.info1 {
  font: 33px Arial;
    color: #141414;
}

.info2 {
  font: 33px Arial;
    color: #141414;
}

.info3 {
  position: relative;
  clear: both;
}

#menu-search {
  width: 50%;
    padding: 10px 10px 10px 30px;
    float: left;
}
#ipt-search {
  border: 1px solid #b3adab;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    color: #eeaa9c;
    font-size: 17px;
}

.button {
  padding-left: 30px;
  float: right;
  width: 50%;
}


input.btn-primary {
  background: #e0dfdf;
    color: #3c3c3c;
    padding: 9px 20px;
    font-size: 20px;
    font-family: unset;
}

