*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.wrap {
	max-width: 100%;
	margin: auto;
	display: block;
	

}

.wrap1 {
	max-width: 1400px;
	margin: auto;
	display: block;
	background-color:#070731;
}



.title {
	margin: auto;
	max-width: 1200px;
	padding-bottom: 50px;
    position: relative;
 
}

.title1 {
	
	float: left;
	max-width: 50%;
	
}

.ax a {
	text-decoration: none;
	color: gray;
}

.it a {
	text-decoration: none;
	color : orange;

}
.ax {
	line-height: 45px;
	font-size: 35px;
}

.it {
	line-height: 45px;
	position: absolute;
    top: 0px;
    left: 52px;
    font-size: 35px;

}

.title2 {
	line-height: 40px;
   
    float: right;
    max-width: 50%;


}

.title2 a {
	text-decoration: none;
    padding: 15px;
    color: gray;
}

.wrap2 {
	max-width:100%;
	margin: auto;
	/*display: block;*/
	background-image: url(https://image.thanhnien.vn/1600/uploaded/tanlam/2017_11_06/2017-11-05t174443z_927666110_rc1306411c00_rtrmadp_3_soccer-england-che-mun_pwdp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	max-width: 100%;
}

.image {
	max-width: 1400px;
	margin: auto;
	
}

.part2 {
	max-width: 1200px;
	margin: auto;
	/*position: relative;*/
}

.slogan {

	margin: auto;
	float: left;
}

.post {

	
	margin: auto;
	float: right;
}

.banner-login {
   
    float: right;
}
.banner-lg {
    padding: 42px 0;
    padding-left: 189px;
    /* padding-right: 0; */
    /* text-align: center; */
}
.title-top {font-size: 30px;padding: 22px;/* padding-bottom: 40px; */text-align:  center;background-color: #ddd;}
.box-lg {
    width: 100%;
    /* margin: auto; */
}
.ip {
    width: 100%;
    padding: 20px 28px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #777;
}
.box-ip {
    padding: 9px 30px;
    background-color: white;
}
.ip-sb {
    text-align: center;
    background-color: #fa8b38;
    ;
    color: white;
    padding: 22px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
}
input {
    font: 300 16px system-ui;
}
.box-sb {
    /* padding: 22px 0; */
    padding-top: 42px;
    background-color:  white;
}

.AX {
	color: gray;
	font-size: 50px;
	margin-top: 50px;
}
.IT {
	position: absolute;
    color: orange;
    font-size: 50px;
    top: 100px;
    left: 155px;
}

.slogan2 {
	margin-top: 35px;
}

.note1 {
	color: gray;
	font-size: 30px;
}

.note2 {
	color: gray;
	font-size: 30px;
}

.slogan3 {
	margin-top: 35px;
    width: 92px;
    border: 2px solid;
    color: gray;
}

.slogan4 {
	margin-top: 35px;
}

.note3 {
	color: gray;
}

.note4 {
	color: gray;
}

.slogan5 {
	margin-bottom: 100px;
	margin-top: 35px;
    width: 73px;
    border: 3px solid;
    color: gray;
}
.clear{
	content: '';
	display: block;
	clear: both;
}

h1 {
	color: gray;
	padding: 1px;
    font-size: 30px;
    background: #f7e9e9;
}

.wrap3 {
	max-width: 1400px;
	margin: auto;
	padding-bottom: 30px;
}

.part3 {
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.line {

	margin: auto;
	float: left;
}

.line1 {
	margin-top: 20px;
	font-size: 45px;
}

.line2 {
	margin-top: 15px;
	color: gray;
}

.icon {
	margin-top: 20px;
    float: right;
    font-size: 50px;
    color: gray;
}

.wrap4 {
	max-width: 1400px;
	margin: auto;
	padding-top: 60px;
	background: #f3f3f3;
	padding-bottom: 100px;
}

.part4 {
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.tab {
	float: left;
	width: 20%;
}

.tab1 {
	     color: white;
    margin-bottom: 2px;
    width: 112px;
    height: 120px;
    background: orange;
    border: 1px;
    padding-top: 47px;
    text-align: center;
}

.tab2 {
	      color: white;
    margin-bottom: 2px;
    width: 112px;
    height: 120px;
    background: grey;
    border: 1px;
    padding-top: 47px;
    text-align: center;
}

.tab3 {
    color: white;
    margin-bottom: 2px;
    width: 112px;
    height: 120px;
    background: grey;
    border: 1px;
    padding-top: 47px;
    text-align: center;
}

.col {
	float: left;
	width:50%
}

.img {
	float: left;
	width: 30%;
}
 
 img {
 	max-width: 100%;
 }

 .col1 {
 	font-size: 30px;
    color: gray;
 }

 .col2 {
 	margin-top: 65px;
    color: gray;
 }

 .col3 {
 	text-align: center;
    width: 85px;
    margin-top: 40px;
    height: 40px;
    border: 1px;
    background: orange;
    padding-top: 10px;
    color: white;
 }

 .wrap5 {
 	max-width: 1400px;
	margin: auto;
	padding-bottom: 30px;
	background: white;
 }


 .part5 {
 	padding-top: 110px;
 	max-width: 1200px;
	margin: auto;
	position: relative;
 }

 .photo {
 	width: 40%;
 	float: left;
 }

 img {
 	max-width: 100%;
 }

 .section {
 	width: 50%;
 	float: right;
 }

.sub {
	font-size: 41px;

}

.orange {
	width: 96px;
    height: 2px;
    border: 2px solid;
    color: orange;
    margin-top: 20px;
}

.text {
	color: gray;
    margin-top: 30px;
}

.text1 {
	margin-top: 30px;
	font-size: 30px;
}

.text2 {
	margin-top: 30px;
	font-size: 30px;
}

.row1 {
	color: orange;
	margin-bottom: -35px;
}

.row2 {
	padding-left: 50px;
}

.row3 {
	font-size: 20px;
	color: gray;
}

.row4 {
	color: orange;
	margin-bottom: -35px;
}

.row5 {
	padding-left: 50px;
}

.row6 {
	color: gray;
	font-size: 20px;
}

.wrap6 {
	
	 max-width: 1400px;
    margin: auto;
    padding-top: 40px;
    background: #ece4e4;
    padding-bottom: 300px;
}

.main-menu {
	max-width: 1200px;
    margin: auto;
    position: relative;
}

.menu {
	max-width: 50%;
    float: left;
}

.menu1 {
	font-size: 30px;
    padding-bottom: 29px;
}

.menu2 {
	width: 88px;
    border: 2px solid;
    color: orange;
}

.menu3 {
	color: gray;
    padding-top: 25px;
}

.menu4 {
	color: gray;
    padding-top: 11px;
}

.content {
max-width: 50%;
float: right;
}

img {
	max-width: 100%;
}