*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

.clear {
  clear: both;
  content: '';
  display: block;
}

.wrap {
 max-width: 1200px;
  margin: 0 auto;
  display: block;
  z-index: 1;
  
}



.container {
  overflow: hidden;
  background-color: rgb(0, 171, 238);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.container a {
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}





.topnav {
  overflow: hidden;
  background-color: white;
  max-width: 1200px;
  margin: auto;
  padding-top: 70px;
}

.topnav a {
  float: left;
  color: #3c3737;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-family: sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav2 a{
float:right;

}

.topnav a.active {
  text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.topnav .icon {
  display: none;
}







.slide {
  width: 100%;
  padding-top: 30px;
  margin: auto;
}




.content-section {
  width: 100%;
}


.collect {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

.feature {
  text-align: center;
  font-size: 35px;
}


.collect-img1 {
position: relative;
clear: both;
}

.collect-img2 {
  position: relative;
  clear: both;
}

.collect-img3 {
  position: relative;
  clear: both;
}


img {
  width: 100%;
}

.underwear1  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}


.underwear1 {
  float: left;
  width: 25%;
  padding-left: 10px;
  
}

.underwear1:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}

.underwear1 a:hover {
  color: #24a9e2;
}


.underwear2  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}

.underwear2 {
  float: left;
  width: 25%;
  padding-left: 10px;
}
.underwear2 a:hover {
  color: #24a9e2;
}


.underwear2:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}

.underwear3  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}
.underwear3 a:hover {
  color: #24a9e2;
}

.underwear3 {
  float: left;
  width: 25%;
  padding-left: 10px;
}


.underwear3:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}


.underwear4  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}

.underwear4 a:hover {
  color: #24a9e2;
}

.underwear4 {
  float: left;
  width: 25%;
  padding-left: 10px;
}


.underwear4:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}


.underwear5  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}

.underwear5 {
  float: left;
  width: 25%;
  padding-left: 10px;
}

.underwear5 a:hover {
  color: #24a9e2;
}


.underwear5:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}

.underwear6  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}

.underwear6 {
  float: left;
  width: 25%;
  padding-left: 10px;
}

.underwear6 a:hover {
  color: #24a9e2;
}


.underwear6:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}


.underwear7  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}

.underwear7 {
  float: left;
  width: 25%;
  padding-left: 10px;
}

.underwear7 a:hover {
  color: #24a9e2;
}


.underwear7:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}



.underwear8  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}

.underwear8 {
  float: left;
  width: 25%;
  padding-left: 10px;
}


.underwear8 a:hover {
  color: #24a9e2;
}


.underwear8:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}


.underwear9  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}


.underwear9 {
  float: left;
  width: 25%;
  padding-left: 10px;
  
}

.underwear9:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}

.underwear9 a:hover {
  color: #24a9e2;
}



.underwear10  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}


.underwear10 {
  float: left;
  width: 25%;
  padding-left: 10px;
  
}

.underwear10:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}

.underwear10 a:hover {
  color: #24a9e2;
}



.underwear11  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}


.underwear11 {
  float: left;
  width: 25%;
  padding-left: 10px;
  
}

.underwear11:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}

.underwear11 a:hover {
  color: #24a9e2;
}


.underwear12  a {
text-decoration: none;
color: black;
font-size: 19px;
font-family: unset;
}


.underwear12 {
  float: left;
  width: 25%;
  padding-left: 10px;
  
}

.underwear12:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

}

.underwear12 a:hover {
  color: #24a9e2;
}


.product {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 40px;

}

.production {
  margin: auto;
  max-width: 1200px;
  position: relative;

}

.line {
  max-width: 800px;
  border: 0.5px solid;
  color: #e2e2e2;
  clear: both;
  margin:auto;
}

img {
  width: 100%;
}

.production1 {
  width: 33.33%;
  float: left;
  position: relative;
}


.production2 {
  width: 33.33%;
  float: left;
}

.pro1 {
  position: relative;
}

.pro2 {
  position: relative;
}

.production3 {
  width: 33.33%;
  float: left;
  position: relative;
}

.image1 img {
  height:545px;
  border: 1px solid;
  color: #fbf3f3;
  opacity: 1;
}
.image2 img {
  height: 272.5px;
  border: 1px solid;
  color: #fbf3f3;
  opacity: 1;
}
.image3 img {
  height: 272.5px;
  color: #fbf3f3;
  border: 1px solid;
  opacity: 1;
}
.image4 img {
  height: 545px;
  border: 1px solid;
  color: #fbf3f3;
  opacity: 1;
}

.image1 :hover {
  opacity: 0.6;
}
.image2 :hover {
  opacity: 0.6;
}
.image3 :hover {
  opacity: 0.6;
}
.image4 :hover {
  opacity: 0.6;
}

.advertise1 {
    position: absolute;
    top: 43%;
    left: 12%;
    font-size: 40px;
    color: #24a9e2;
    opacity: 0;
    transition: 1s;
}
.production1:hover>.advertise1 {
  opacity: 1;
}

.advertise2 {
  position: absolute;
    top: 50%;
    left: 30%;
    font-size: 40px;
    color: #24a9e2;
    opacity: 0;
    transition: 1s;
}
.pro1:hover>.advertise2 {
  opacity: 1;
}


.advertise3 {
  position: absolute;
    top: 40%;
    left: 40%;
    font-size: 40px;
    color: #24a9e2;
    opacity: 0;
    transition: 1s;
}

.pro2:hover>.advertise3 {
  opacity: 1;
}


.advertise4 {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 40px;
    color: #24a9e2;
    opacity: 0;
    transition: 1s;
}

.production3:hover>.advertise4 {
  opacity: 1;
}


span p{
  width: 100%;
}

.content {
     max-width: 1200px;
    margin: auto;
    padding-top: 30px;
  
}

.name1 {
  text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.name2 {
  border: 1px solid;
    margin: auto;
    width: 214px;
    color: black;
}

.name3 {
    text-align: center;
    padding-top: 25px;
    color: #61605c;
    text-transform: uppercase;
    font-size: 15px;
}

.name4 {
width: 100px;
margin: auto;
}

.name4 img {
  width: 100%;
}




.footer {
  width: 100%;
  margin: auto;
  padding-top: 80px;
  background: #fbfbfb;
  padding-bottom: 260px;

}

.foot {
  max-width: 1200px;
  margin: auto;
  position: relative;

}

.foot1 {
  width: 25%;
  float: left;
}

.banner-footer {
  text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.img-footer {
  width: 100px;
  margin-left: 35px;
  padding-top: 10px;
}

.foot2 {
  width: 25%;
  float: left;
}

.foot2 span p {
  font-size: 20px;
  font-family: unset;
  padding-bottom: 10px;
  font-weight: 700;
}


.title1 a, .title2 a, .title3 a, .title4 a, .title5 a {
  text-decoration: none;
  color: #777777;
  font-family: unset;
  font-size: 13px;
}

.title1, .title2, .title3, .title4, .title5 {
  padding-bottom: 10px;
}



.foot3 {
  width: 25%;
  float: left;
}


.foot3 span p {
  font-size: 20px;
  font-family: unset;
  padding-bottom: 10px;
  font-weight: 700;
}


.contact1 a, .contact2 a, .contact3 a {
  text-decoration: none;
  color: #777777;
  font-family: unset;
  font-size: 13px;
}

.contact1, .contact2, .contact3 {
  padding-bottom: 10px;
}


.foot4 {
  width: 25%;
  float: left;
}

.foot4 span p {
  font-size: 20px;
  font-family: unset;
  padding-bottom: 10px;
  font-weight: 700;
}

.col span p {
  color: #777777;
  font-family: unset;
  font-size: 15px;
}

.fab {
  font-size: 35px;
  color: gray;
}

.icon {
  padding-top: 15px;
}

.btnopen{
  display: none;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}









@media only screen and (max-width: 450px) {
.a {
  width: 100%;
}
}



@media screen and (max-width: 1000px) {
.a {
  width: 100%;
}
}




@media only screen and (max-width: 800px){
  .a{
    width: 100%;

  }


}

@media only screen and (max-width: 1200px){
  .a{
    width: 50%;
  }

}



  
@media only screen and (max-width: 600px){
  .b{
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .c{
    width: 100%;
  }
  .foot1,.foot2,.foot3{
  
    display: none;  
  
  }

  .foot4 {
    padding-left: 30px;
  }
  
}

@media only screen and (max-width: 600px){
  .d{
    width: 100%;
  }

.option-left {
  display: none;
}

}















@media only screen and (max-width: 1024px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav2 a.hidden {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav2.responsive a {
  float: none;
    display: block;
    text-align: right;
  }

  .topnav2 a.hidden {
    display: none;
  }
}























